.git
.github
.idea
.vscode
.claude
.cursor
.junie
node_modules
vendor
public/build
public/hot
storage/api-docs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
database/*.sqlite
.env
.env.*
!.env.example
.phpunit.result.cache
npm-debug.log
yarn-error.log
Dockerfile
docker-compose.yml
.dockerignore
.DS_Store
